/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Variable CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #1cc454;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --body-color: #181A1B;
  --container-color: #033b2de8;

  /* Font and typography */
  --body-font: 'Inter', sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;

  /* Font weight */
  --font-medium: ;
  --font-semi-bold: ;

  /* Margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Box sizing rules */
*,::before, ::after {
  box-sizing: border-box;
  /* border: 1px solid rgba(0, 162, 255, 0.575); */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color-light);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  margin: auto;
  background-color: var(--container-color);
  border-radius: 10px;
  padding: 1rem;
}

.todo h1 {
  text-align: center;
  margin-bottom: var(--mb-2);
  font-size: var(--h1-font-size);
}

.container {
  width: 100%;
}

.input{
  width: 100%;
  font-family: var(--body-font);
  border: none;
  border-radius: 1em;
}

.input:focus {
  outline: var(--title-color) 2px solid;
}

.todo__add-task {
  margin-bottom: var(--mb-1);
  display: flex;
}

.todo__add-task input {
  font-size: var(--normal-font-size);
  background: var(--text-color-light);
  color: var(--text-color-dark);
  padding: 0.25em 1.125em;
}

.button {
  border-radius: 1em;
  border: none;
  background: none;
}

.button:hover {
  cursor: pointer;
}

.todo__add-task button {
  width: 2.875rem;
  font-size: 1.25rem;
  color: var(--text-color-light);
  font-weight: bold;
  margin-left: 0.125rem;
}

.todo__add-task button:hover {
  color: var(--text-color-light);
  background: var(--title-color);
}

.list {
  margin-bottom: var(--mb-2);
}

.list h2 {
  font-size: var(--h2-font-size);
  border-bottom: 0.125rem solid var(--text-color-light);
  margin-bottom: var(--mb-1);
}

.list ul>li {
  display: flex;
  align-items: center;
}

.list input {
  color: var(--text-color-light);
  background: none;
  padding: 0.25em 0.25em 0.25em 0.5em;
}

.todo__done label {
  font-style: italic;
}

.todo__done button {
  color: var(--text-color-light);
  padding: 0 0.5rem;
}

.todo__done button:hover {
  color: var(--text-color-light);
  background: var(--body-color);
}

.todo__deleted label {
  font-style: italic;
  color: var(--text-color-light);
}